In [113]:
import pandas as pd

In [117]:
df_log = pd.read_csv('Log_Data02.csv')
df_ex = pd.read_csv('Expert_Data.csv')
df_sv = pd.read_csv('Service_Data.csv') 
df_cus = pd.read_csv('Customer_data.csv')

In [118]:
df_log['판매금액'].sum()

21686862380.0

In [119]:
df_cus['총구매금액'].sum()

21686862380.0

In [120]:
df_cus

,고객ID,사용기기,사용OS,유입경로,회원상태,거주지,연령,성별,서비스총구매수,총구매금액,총수정요청수,총추가결제금액
0,1001010041,iPhone,iOS11.4.1,유튜브,정상회원,경기도,25.0,남성,1,44500.0,0.0,14500
1,10010100410,SM-N935S,Android7.0,검색광고,정상회원,경기도,26.0,NaN,1,44500.0,0.0,14500
2,100101004108,iPhone,iOS12.0,네이버블로그,정상회원,경기도,23.0,남성,1,34500.0,0.0,14500
3,100101004109,iPhone,iOS11.4.1,인스타그램,정상회원,경기도,20.0,남성,1,364500.0,0.0,14500
4,100101004112,iPhone,iOS11.4.1,직접검색,정상회원,경기도,28.0,남성,1,34500.0,0.0,14500
...,...,...,...,...,...,...,...,...,...,...,...,...
137521,9050206990,SM-N950N,Android8.0.0,유튜브,정상회원,경상도,21.0,남성,2,75000.0,0.0,20000
137522,9050206992,iPhone,iOS11.4,네이버카페,탈퇴,강원도,26.0,NaN,1,310000.0,0.0,10000
137523,9050206995,iPhone,iOS12.0,인스타그램,정상회원,강원도,28.0,남성,1,89000.0,0.0,10000
137524,9050206996,SM-G930S,Android8.0.0,네이버블로그,정상회원,강원도,43.0,남성,1,9000.0,1.0,4000
137525,9050206998,SM-A530N,Android7.1.1,네이버카페,정상회원,충청도,23.0,여성,1,30000.0,0.0,10000

In [121]:
df_cus

,고객ID,사용기기,사용OS,유입경로,회원상태,거주지,연령,성별,서비스총구매수,총구매금액,총수정요청수,총추가결제금액
0,1001010041,iPhone,iOS11.4.1,유튜브,정상회원,경기도,25.0,남성,1,44500.0,0.0,14500
1,10010100410,SM-N935S,Android7.0,검색광고,정상회원,경기도,26.0,NaN,1,44500.0,0.0,14500
2,100101004108,iPhone,iOS12.0,네이버블로그,정상회원,경기도,23.0,남성,1,34500.0,0.0,14500
3,100101004109,iPhone,iOS11.4.1,인스타그램,정상회원,경기도,20.0,남성,1,364500.0,0.0,14500
4,100101004112,iPhone,iOS11.4.1,직접검색,정상회원,경기도,28.0,남성,1,34500.0,0.0,14500
...,...,...,...,...,...,...,...,...,...,...,...,...
137521,9050206990,SM-N950N,Android8.0.0,유튜브,정상회원,경상도,21.0,남성,2,75000.0,0.0,20000
137522,9050206992,iPhone,iOS11.4,네이버카페,탈퇴,강원도,26.0,NaN,1,310000.0,0.0,10000
137523,9050206995,iPhone,iOS12.0,인스타그램,정상회원,강원도,28.0,남성,1,89000.0,0.0,10000
137524,9050206996,SM-G930S,Android8.0.0,네이버블로그,정상회원,강원도,43.0,남성,1,9000.0,1.0,4000
137525,9050206998,SM-A530N,Android7.1.1,네이버카페,정상회원,충청도,23.0,여성,1,30000.0,0.0,10000

In [122]:
df_log

,거래일자,수수료율,고객ID,프로그램수정횟수,추가결제금액,거래취소여부,거래취소일자,서비스명,판매자,판매금액,서비스가격,평점,이용자수,대분류,서비스번호
0,20210201,6.5,5030100140,0.0,9800,NaN,NaN,"카페24,고도몰,메이크샵등 쇼핑몰 수정,코딩,유지보수",logf1,14800.0,5000.0,5.0,584.0,커머스,2102.0
1,20210201,6.5,8020105385,0.0,0,NaN,NaN,"카페24,고도몰,메이크샵등 쇼핑몰 수정,코딩,유지보수",logf1,5000.0,5000.0,5.0,584.0,커머스,2102.0
2,20210201,6.5,110104033157,0.0,9200,NaN,NaN,"엑셀 VBA, 매크로, ERP 프로그램 개발해 드립니다.",엑셀의신,19200.0,10000.0,5.0,583.0,데이터,2103.0
3,20210201,7.5,40203001176,0.0,11000,NaN,NaN,"엑셀을 이용 서식과 집계, 분석 및 VBA 프로그래밍",태구리,61000.0,50000.0,5.0,504.0,데이터,2105.0
4,20210201,6.5,5041700297,0.0,0,NaN,NaN,"엑셀을 이용 서식과 집계, 분석 및 VBA 프로그래밍",태구리,50000.0,50000.0,5.0,504.0,데이터,2105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344294,20210630,9.0,50150001196,0.0,0,NaN,NaN,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,20000.0,20000.0,4.6,33.0,데이터,2600.0
344295,20210630,7.5,60107010137,0.0,0,NaN,NaN,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,20000.0,20000.0,4.6,33.0,데이터,2600.0
344296,20210630,9.0,70406002101,0.0,0,NaN,NaN,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,20000.0,20000.0,4.6,33.0,데이터,2600.0
344297,20210630,6.5,9010306354,0.0,0,NaN,NaN,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,20000.0,20000.0,4.6,33.0,데이터,2600.0
344298,20210630,7.5,9030200780,0.0,10000,NaN,NaN,데이터 분석 및 시각화 제공해 드립니다.,전문가오리,30000.0,20000.0,4.6,33.0,데이터,2600.0

# df_log  NA값 처리

In [124]:

# 거래 취소 여부 NA값 0으로 채우기
df_log['거래취소여부'] = df_log['거래취소여부'].fillna(0)
df_log['거래취소일자'] = df_log['거래취소일자'].fillna(0)

In [125]:
idx = df_log.loc[df_log['서비스명'].isna() == True].reset_index(drop = True)
df_log.loc[df_log['서비스명'].isna() == True]

,거래일자,수수료율,고객ID,프로그램수정횟수,추가결제금액,거래취소여부,거래취소일자,서비스명,판매자,판매금액,서비스가격,평점,이용자수,대분류,서비스번호
191764,20210411,7.5,40121003184,0.0,1500,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191765,20210411,6.5,6010402372,0.0,10500,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216197,20210424,6.5,6010402348,0.0,9070,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216198,20210424,6.5,8010104990,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216199,20210424,6.5,80307005127,0.0,10000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216200,20210424,6.5,12010110741,-1.0,0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
232505,20210503,6.5,4012100376,0.0,1500,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248981,20210513,6.5,3010101231,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248982,20210513,6.5,401210033,0.0,1500,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248983,20210513,6.5,6020115975,0.0,1500,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248984,20210513,6.5,60703001102,0.0,1300,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248985,20210513,7.5,7020305319,1.0,10400,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248986,20210513,6.5,90502010163,0.0,10000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248987,20210513,6.5,10020100670,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248988,20210513,6.5,10030502061,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265941,20210522,6.5,60104023190,0.0,10100,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295138,20210606,6.5,60104023185,0.0,10100,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295139,20210606,6.5,70203053108,0.0,3300,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295140,20210606,9.0,9010400862,0.0,4300,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318920,20210618,6.5,6010402344,1.0,24000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318921,20210618,6.5,70303012142,0.0,1400,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318922,20210618,6.5,10020100664,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:

# 거래기록 미기입값 22개 행 삭제
df_log = df_log.dropna().reset_index(drop = True)

In [127]:
df_log.isna().sum()

거래일자        0
수수료율        0
고객ID        0
프로그램수정횟수    0
추가결제금액      0
거래취소여부      0
거래취소일자      0
서비스명        0
판매자         0
판매금액        0
서비스가격       0
평점          0
이용자수        0
대분류         0
서비스번호       0
dtype: int64

In [128]:
df_log.to_csv('log_clean.csv')

# df_ex 전처리

In [229]:
k = pd.pivot_table(df_log,index = '판매자', values = '판매금액',aggfunc = 'sum').reset_index()
df_ex = pd.merge(df_ex,k,on='판매자')
df_ex['총 판매 금액'] = df_ex['판매금액']
df_ex = df_ex.drop(columns = ['판매금액'])
df_ex.to_csv('ex_clean.csv')

# df_sv NA값 처리

In [232]:
df_sv.isna().sum()

서비스명     1
판매자      1
서비스가격    1
평점       1
대분류      1
서비스번호    1
판매수      0
dtype: int64

In [233]:
# NA값삭제
# df_ex['판매 서비스 수'] 의 총합이랑 df_sv['판매수']의 총합의 차이가 22인데
# NA 행의 판매수 가 22, 이상치라고 판단
df_sv = df_sv.dropna()

In [234]:
df_sv.to_csv('sv_clean.csv')

# df_sv 데이터 중복 처리 후 저장

In [ ]:
df_sv_grouped = df_sv.groupby(['서비스번호', '서비스명', '판매자', '서비스가격', '평점', '대분류'], as_index=False)['판매수'].sum()
df_sv_grouped.to_csv('df_sv_grouped.csv')

# df_cus 결측치 처리

In [236]:
df_cus.isna().sum()

고객ID           0
사용기기           0
사용OS           0
유입경로        1606
회원상태           0
거주지            0
연령          1804
성별         10259
서비스총구매수        0
총구매금액          5
총수정요청수         0
총추가결제금액        0
dtype: int64

In [237]:
df_cus[['유입경로','연령','성별']] = df_cus[['유입경로','연령','성별']].fillna('기타')

In [238]:
#df_cus = df_cus.dropna()

In [239]:
df_cus['서비스총구매수'].sum()

344299

In [240]:
df_cus.loc[df_cus['고객ID'].isin(idx['고객ID']),'서비스총구매수'] = df_cus.loc[df_cus['고객ID'].isin(idx['고객ID']),'서비스총구매수']-1

In [241]:
a = df_cus.loc[df_cus['고객ID'].isin(idx['고객ID'])]

In [242]:
idx

,거래일자,수수료율,고객ID,프로그램수정횟수,추가결제금액,거래취소여부,거래취소일자,서비스명,판매자,판매금액,서비스가격,평점,이용자수,대분류,서비스번호
0,20210411,7.5,40121003184,0.0,1500,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20210411,6.5,6010402372,0.0,10500,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20210424,6.5,6010402348,0.0,9070,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20210424,6.5,8010104990,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20210424,6.5,80307005127,0.0,10000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,20210424,6.5,12010110741,-1.0,0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
6,20210503,6.5,4012100376,0.0,1500,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,20210513,6.5,3010101231,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,20210513,6.5,401210033,0.0,1500,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,20210513,6.5,6020115975,0.0,1500,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,20210513,6.5,60703001102,0.0,1300,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,20210513,7.5,7020305319,1.0,10400,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,20210513,6.5,90502010163,0.0,10000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,20210513,6.5,10020100670,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,20210513,6.5,10030502061,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,20210522,6.5,60104023190,0.0,10100,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,20210606,6.5,60104023185,0.0,10100,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,20210606,6.5,70203053108,0.0,3300,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,20210606,9.0,9010400862,0.0,4300,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20210618,6.5,6010402344,1.0,24000,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20210618,6.5,70303012142,0.0,1400,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,20210618,6.5,10020100664,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [243]:

merged_df = pd.merge(a, idx, on='고객ID', how='inner')
merged_df['총수정요청수'] = merged_df['총수정요청수'] - merged_df['프로그램수정횟수']
merged_df['총추가결제금액'] = merged_df['총추가결제금액'] - merged_df['추가결제금액']

In [244]:
a= a.reset_index(drop=True)
a['수정요청'] = merged_df['총수정요청수']
a['추가결제'] = merged_df['총추가결제금액']

In [245]:
a.set_index(df_cus.loc[df_cus['고객ID'].isin(idx['고객ID'])].index )

,고객ID,사용기기,사용OS,유입경로,회원상태,거주지,연령,성별,서비스총구매수,총구매금액,총수정요청수,총추가결제금액,수정요청,추가결제
1583,10020100664,SM-G610S,Android7.0,네이버블로그,정상회원,경기도,21.0,기타,1,10000.0,0.0,0,0.0,0
1590,10020100670,SM-N950N,Android8.0.0,유튜브,정상회원,경기도,22.0,남성,6,625000.0,7.0,20000,7.0,20000
5225,10030502061,SM-G960N,Android8.0.0,유튜브,정상회원,경기도,34.0,남성,4,80000.0,0.0,0,0.0,0
19716,12010110741,SM-N950N,Android8.0.0,유튜브,정상회원,강원도,48.0,남성,2,0.0,-3.0,10000,-2.0,10000
34470,3010101231,iPhone,iOS11.4.1,네이버블로그,정상회원,서울시,26.0,남성,0,NaN,0.0,0,0.0,0
39950,40121003184,SM-N920L,Android7.0,인스타그램,정상회원,경기도,기타,기타,3,99500.0,0.0,6000,0.0,4500
39977,401210033,iPhone,iOS11.4,검색광고,정상회원,경기도,28.0,남성,5,212500.0,0.0,9000,0.0,7500
40026,4012100376,SM-G950N,Android8.0.0,네이버카페,정상회원,전라도,40.0,남성,3,36500.0,0.0,23000,0.0,21500
71180,60104023185,SM-G950N,Android8.0.0,구글광고,정상회원,충청도,22.0,여성,2,20500.0,-1.0,20600,-1.0,10500
71185,60104023190,SM-G950N,Android8.0.0,유튜브,정상회원,충청도,22.0,남성,0,NaN,0.0,10100,0.0,0
71216,6010402344,SM-G930S,Android8.0.0,인스타그램,정상회원,경상도,29.0,남성,1,40500.0,1.0,34500,0.0,10500
71219,6010402348,SM-N950N,Android8.0.0,검색광고,정상회원,경상도,22.0,남성,1,79070.0,0.0,18140,0.0,9070
71238,6010402372,SM-G950N,Android8.0.0,유튜브,정상회원,서울시,27.0,남성,3,113700.0,2.0,70200,2.0,59700
74524,6020115975,SM-A520S,Android8.0.0,다음카페,정상회원,전라도,28.0,남성,14,1011800.0,0.0,26300,0.0,24800
86859,60703001102,iPhone,iOS11.4.1,네이버블로그,정상회원,경상도,21.0,남성,3,525000.0,1.0,10300,1.0,9000
93674,70203053108,SM-N950N,Android7.1.1,검색광고,정상회원,경기도,25.0,남성,0,NaN,0.0,3300,0.0,0
93719,7020305319,SM-A600N,Android8.0.0,인스타그램,정상회원,서울시,28.0,남성,0,NaN,1.0,10400,0.0,0
94994,70303012142,SM-G930S,Android8.0.0,검색광고,정상회원,전라도,43.0,남성,1,62200.0,4.0,23600,4.0,22200
102725,8010104990,SM-N950N,Android8.0.0,네이버블로그,정상회원,충청도,32.0,남성,1,5000.0,0.0,0,0.0,0
118447,80307005127,iPhone,iOS12.0,유튜브,정상회원,경기도,29.0,남성,0,NaN,0.0,10000,0.0,0
130262,9010400862,iPhone,iOS11.2.5,검색광고,정상회원,경상도,24.0,남성,2,38600.0,0.0,12900,0.0,8600
136102,90502010163,iPhone,iOS11.4,네이버블로그,정상회원,충청도,26.0,여성,5,220000.0,0.0,60000,0.0,50000

In [246]:
# df_cus의 특정 인덱스를 기준으로 a['수정']을 재인덱싱하여 할당
df_cus.loc[df_cus['고객ID'].isin(idx['고객ID']), '총수정요청수'] = a['수정요청'].set_axis(df_cus.loc[df_cus['고객ID'].isin(idx['고객ID'])].index, axis=0)
df_cus.loc[df_cus['고객ID'].isin(idx['고객ID']), '총추가결제금액'] = a['추가결제'].set_axis(df_cus.loc[df_cus['고객ID'].isin(idx['고객ID'])].index, axis=0)

In [247]:
df_cus = df_cus.dropna()

In [248]:
df_cus['서비스총구매수'].sum()

344277

In [249]:
df_cus.to_csv('cus_clean.csv')

In [250]:
df_log['추가결제금액'].sum()

1376532072

In [251]:
df_cus['총추가결제금액'].sum()

1376532072

In [252]:
df_log['판매금액'].sum()

21686862380.0

In [253]:
df_cus['총구매금액'].sum()

21686862380.0

In [254]:
df_log['프로그램수정횟수'].sum()

59763.5

In [255]:
df_cus['총수정요청수'].sum()

59763.49999999999

In [256]:
df_ex['총 판매 금액'].sum()

21686862380.0

In [266]:
df_ex

        판매자ID          판매자  판매 서비스 수      총 판매 금액 프리미엄 서비스 가입여부 신속 알람 서비스 사용여부
0        V2_0          김러그       326  146181660.0            가입            미사용
1        V2_1         디프라이        43  146666100.0            가입            미사용
2        V2_2     Sailorkr        14  140014500.0            가입            미사용
3        V2_3   신뢰할만한지식인65        16  130656600.0            가입            미사용
4        V2_4          에픽핫        18  126114700.0            가입            미사용
...       ...          ...       ...          ...           ...            ...
2061  V2_2061   web3expert         1       6400.0           미가입            미사용
2062  V2_2062         enos         2       5000.0           미가입            미사용
2063  V2_2063  K9027456501         1       5000.0           미가입            미사용
2064  V2_2064          승쿠딩         1       5000.0            가입            미사용
2065  V2_2065       저돌적인미니         1       5000.0            가입            미사용

[2066 rows x 6 columns]

In [272]:
df_sv

,서비스명,판매자,서비스가격,평점,대분류,서비스번호,판매수
0,"""P2P 대출"" 서비스를 위한 기획을 해 드립니다.",디자인쇼크리더,400000.0,0.0,기획,5651.0,6
1,"""반응형 웹 퍼블리싱"" 모든 퍼블리싱 작업 맞춤 진행",ThunDesign,15000.0,0.0,홈페이지,6122.0,1
2,"""이커머스 웹 사이트개발 경력자""의 쇼핑몰 제작",IAMTRY,500000.0,0.0,커머스,6152.0,3
3,.NET C# 개발. WPF 또는 WinForms,혼살,1200000.0,5.0,프로그래밍,5009.0,1
4,".NET, c# 응용프로그램 개발, delphi",JAVASCRIPT,60000.0,5.0,프로그램,4419.0,10
...,...,...,...,...,...,...,...
4154,"회로 설계 , PCB Artwork, 시제품 개발해 드립니다.",mangolab,50000.0,5.0,프로그래밍,4985.0,7
4155,"회로 설계, PCB 제작, 아두이노, 3D 프린팅",이즈Circuit,55000.0,4.9,프로그래밍,2390.0,18
4156,회로/PCB/펌웨어/AVR/아두이노제작 해 드립니다.,SWMJ,25000.0,5.0,UnReal,3141.0,3
4157,효과적인 연락처 수집용 랜딩페이지 제작해 드립니다.,안단테연구소,300000.0,5.0,프로그래밍,4911.0,6
4158,희망하는 웹사이트의 정보를 수집웹크롤링해 드립니다.,제임슈,10000.0,5.0,데이터,4160.0,30

In [274]:
df_sv['판매금'] = df_sv['서비스가격'] * df_sv['판매수']
df_sv

C:\Users\campus4D050\AppData\Local\Temp\ipykernel_19268\2897200204.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sv['판매금'] = df_sv['서비스가격'] * df_sv['판매수']

,서비스명,판매자,서비스가격,평점,대분류,서비스번호,판매수,판매금
0,"""P2P 대출"" 서비스를 위한 기획을 해 드립니다.",디자인쇼크리더,400000.0,0.0,기획,5651.0,6,2400000.0
1,"""반응형 웹 퍼블리싱"" 모든 퍼블리싱 작업 맞춤 진행",ThunDesign,15000.0,0.0,홈페이지,6122.0,1,15000.0
2,"""이커머스 웹 사이트개발 경력자""의 쇼핑몰 제작",IAMTRY,500000.0,0.0,커머스,6152.0,3,1500000.0
3,.NET C# 개발. WPF 또는 WinForms,혼살,1200000.0,5.0,프로그래밍,5009.0,1,1200000.0
4,".NET, c# 응용프로그램 개발, delphi",JAVASCRIPT,60000.0,5.0,프로그램,4419.0,10,600000.0
...,...,...,...,...,...,...,...,...
4154,"회로 설계 , PCB Artwork, 시제품 개발해 드립니다.",mangolab,50000.0,5.0,프로그래밍,4985.0,7,350000.0
4155,"회로 설계, PCB 제작, 아두이노, 3D 프린팅",이즈Circuit,55000.0,4.9,프로그래밍,2390.0,18,990000.0
4156,회로/PCB/펌웨어/AVR/아두이노제작 해 드립니다.,SWMJ,25000.0,5.0,UnReal,3141.0,3,75000.0
4157,효과적인 연락처 수집용 랜딩페이지 제작해 드립니다.,안단테연구소,300000.0,5.0,프로그래밍,4911.0,6,1800000.0
4158,희망하는 웹사이트의 정보를 수집웹크롤링해 드립니다.,제임슈,10000.0,5.0,데이터,4160.0,30,300000.0

In [131]:
k = pd.pivot_table(df_sv,index = '판매자',values = '판매금',aggfunc = 'sum').reset_index()

KeyError: '판매금'

In [ ]:
q = 21686862380.0 - k['판매금'].sum()
q

In [132]:
q/df_sv['판매수'].sum()

NameError: name 'q' is not defined